@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family:  'Love Ya Like A Sister', cursive;
}

body{
    background-color: black;
}

h1{
    color: white;
    text-align: center;
    margin: 70px;
}

.container{
    display: flex;
    justify-content: center;
    
}

img{
    height: 550px;
}


